In [27]:
import pandas as pd
df = pd.read_csv('heart.csv')

In [28]:
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [33]:
print(df.nunique())
df.info()

Age                50
Sex                 2
ChestPainType       4
RestingBP          67
Cholesterol       222
FastingBS           2
RestingECG          3
MaxHR             119
ExerciseAngina      2
Oldpeak            53
ST_Slope            3
HeartDisease        2
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             918 non-null    int64
 1   Sex             918 non-null    object
 2   ChestPainType   918 non-null    object
 3   RestingBP       918 non-null    int64
 4   Cholesterol     918 non-null    int64
 5   FastingBS       918 non-null    int64
 6   RestingECG      918 non-null    object
 7   MaxHR           918 non-null    int64
 8   ExerciseAngina  918 non-null    object
 9   Oldpeak         918 non-null    float64
 10  ST_Slope        918 non-null    object
 11  HeartDisease    918 non-null    int64
dtypes: float64(1), int64(6), object(5)
memory usage: 86.2+ KB

In [34]:
prepared = df.copy()
prepared[['Sex', 'ExerciseAngina']] = prepared[['Sex', 'ExerciseAngina']].replace({'M':0, 'F':1, 'N' : 0, 'Y':1})
prepared = pd.get_dummies(prepared, columns=['ChestPainType','ST_Slope', 'RestingECG'])

In [36]:
print(prepared.nunique())
prepared.info()

Age                   50
Sex                    2
RestingBP             67
Cholesterol          222
FastingBS              2
MaxHR                119
ExerciseAngina         2
Oldpeak               53
HeartDisease           2
ChestPainType_ASY      2
ChestPainType_ATA      2
ChestPainType_NAP      2
ChestPainType_TA       2
ST_Slope_Down          2
ST_Slope_Flat          2
ST_Slope_Up            2
RestingECG_LVH         2
RestingECG_Normal      2
RestingECG_ST          2
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Age                918 non-null    int64
 1   Sex                918 non-null    int64
 2   RestingBP          918 non-null    int64
 3   Cholesterol        918 non-null    int64
 4   FastingBS          918 non-null    int64
 5   MaxHR              918 non-null    int64
 6   ExerciseAngina     918 non-null    int64
 7   Oldpeak            918 non-null    float64
 8   HeartDisease       918 non-null    int64
 9   ChestPainType_ASY  918 non-null    uint8
 10  ChestPainType_ATA  918 non-null    uint8
 11  ChestPainType_NAP  918 non-null    uint8
 12  ChestPainType_TA   918 non-null    uint8
 13  ST_Slope_Down      918 non-null    uint8
 14  ST_Slope_Flat      918 non-null    uint8
 15  ST_Slope_Up        918 non-null    uint8
 16  RestingECG_LVH     918 non-null    uint8
 17  RestingECG_Normal  918 non-null    uint8
 18  RestingECG_ST      918 non-null    uint8
dtypes: float64(1), int64(8), uint8(10)
memory usage: 73.6 KB